zntj:zntjWztResult
dic_khxw:tb_opp_user_label_m
eda:tb_b_ht_prd_inst_share_day_#d
eda:tb_b_ht_prd_flux_share_201902
stra_opr:RM_GREY_INFO
stra_opr:RM_RED_INFO
stra_opr:RM_USERFEATURELABLES_INFO_V3
stra_opr:RM_SIGNAL_INFO
stra_opr:RM_USER_INFO_V3
clzx_opr:RM_CUSTGROUP_INFO
clzx_opr:RM_CUSTGROUP_INFO_#YYYYMMdd
clzx_opr:RM_OTHERNETUSER_INFO
clzx_opr:RM_USERREL_INFO_V4
clzx_opr:RM_FREQUENCY_CTRL
clzx_opr:RM_RECOMMENDCLOSE_INFO